include README.rst
include CHANGES.md
include CosmoABC/data/SPT.dat
include CosmoABC/examples/input_NumCosmo.txt
include CosmoABC/examples/data_format_SZ.dat
include CosmoABC/examples/input_toy_model.txt
