include README.rst
include CHANGES.md
include cosmoabc/data/SPT.dat
include cosmoabc/examples/input_NumCosmo.txt
include cosmoabc/examples/data_format_SZ.dat
include cosmoabc/examples/input_toy_model.txt
